<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>照片墙</title>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .classshow {
            background-color: #C9E2B3;
        }
    </style>
</head>
<body>
<div class="container" id="vueapp">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            写给任小姐的考研小站</a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li v-for="item in items">
                                <a v-bind:href="item.url"
                                   v-bind:class="{'classshow': item.classaction}">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        名称
                    </th>
                    <th>
                        状态
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="t in  xiaobenben">
                    <td>
                        {{t.name}}
                    </td>
                    <td>
                        {{t.stu}}
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>


    <div class="row clearfix" style="margin-top: 80px;">
        <div class="col-md-12 column">
            <div class="col-md-4 column">
                <img alt="140x140" src="img/main1.jpg" class="img-thumbnail"/>
                <br/>
                <span>22天。特别喜欢2这个数字。yep！！</span>
            </div>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#vueapp',
        data: {
            items: [{
                url: 'time.html',
                name: '范围大纲',
                classaction: false
            },
                {
                    url: 'show.html',
                    name: '资料分享',
                    classaction: false
                },
                {
                    url: 'import.html',
                    name: '重大节点',
                    classaction: false
                },
                {
                    url: 'photo.html',
                    name: '照片墙',
                    classaction: true
                },
                {
                    url: 'story.html',
                    name: '写在最后',
                    classaction: false
                }
            ],
            xiaobenben: [
                {
                    name: '一起去欢乐谷',
                    stu: '未完成'
                } , {
                    name: '一起吃日料',
                    stu: '未完成'
                } , {
                    name: '沈欠一顿毒打',
                    stu: '未完成'
                }
                
                ]
        }
    })
</script>


</body>
</html>
